.principal-content {
  height: 100vh;
  width: 100vw;
  background-color: #fa163f;
}

h1 {
  font-size: 5em;
  line-height: 70px;
}

h2 {
  font-size: 2.5em;
}

h1,
h2 {
  margin: 0;
  font-family: "Odibee Sans", cursive;
}

h3,
h4 {
  font-size: 3em;
  margin: 0;
  font-family: "Yellowtail", cursive;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 5px 5px #bcadadab;
}

p {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
