@charset "UTF-8";
/*!
 *
 * bttn.css - https://ganapativs.github.io/bttn.css
 * Version - 0.2.4
 * Demo: https://bttn.surge.sh
 *
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Ganapati V S (@ganapativs)
 *
 */
/* standalone - .bttn-stretch */
.bttn-default {
  color: #fff;
}
.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  color: #1d89ff;
}
.bttn-warning {
  color: #feab3a;
}
.bttn-danger {
  color: #ff5964;
}
.bttn-success {
  color: #28b78d;
}
.bttn-royal {
  color: #bd2df5;
}
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: 'Odibee Sans', cursive;
}
.bttn-md {
  font-size: 20px;
  font-family: 'Odibee Sans', cursive;
  padding: 5px 12px;
}
.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: 'Odibee Sans', cursive;
}
.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: 'Odibee Sans', cursive;
}
.bttn-stretch {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: 'Odibee Sans', cursive;
  padding: 5px 12px;
  overflow: hidden;
  border-width: 0;
  border-radius: 0;
  background: transparent;
  color: #fff;
  letter-spacing: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-stretch:after,
.bttn-stretch:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  content: '';
  opacity: 0.65;
  -webkit-transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.bttn-stretch:after {
  top: 0;
}
.bttn-stretch:before {
  bottom: 0;
}
.bttn-stretch:hover,
.bttn-stretch:focus {
  letter-spacing: 2px;
  opacity: 0.9;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-stretch:hover:after,
.bttn-stretch:focus:after {
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.bttn-stretch:hover:before,
.bttn-stretch:focus:before {
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.bttn-stretch.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: 'Odibee Sans', cursive;
}
.bttn-stretch.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: 'Odibee Sans', cursive;
}
.bttn-stretch.bttn-md {
  font-size: 20px;
  font-family: 'Odibee Sans', cursive;
  padding: 5px 12px;
}
.bttn-stretch.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: 'Odibee Sans', cursive;
}
.bttn-stretch.bttn-default {
  color: #fff;
}
.bttn-stretch.bttn-primary {
  color: #1d89ff;
}
.bttn-stretch.bttn-warning {
  color: #feab3a;
}
.bttn-stretch.bttn-danger {
  color: #ff5964;
}
.bttn-stretch.bttn-success {
  color: #28b78d;
}
.bttn-stretch.bttn-royal {
  color: #bd2df5;
}